@import "compass/css3";
@import url(//fonts.googleapis.com/css?family=Voltaire);

body {
	background-color: #16181E;
	font-family: 'Voltaire', sans-serif;
	background-image: url('https://thejals.com/~thejals/HTML5-TP1/img/padded-clearblue.png');
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	color: #C7C7C7;
}

svg{
  width: 500px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin-left: 100px;

}

#headframe {
	width: 100%;
	min-height: 100vh;
	background-image: url('https://thejals.com/~thejals/HTML5-TP1/img/padded-clearblue.png');
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #fff;
}

#headframe h1 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 3em;
}

#navmenu ul {
	margin: 0 0 0 0;
	text-align: center;
	position: relative;
	top: 15%;
	transform: translateY(-15%);
}

#navmenu li {
	display: inline;
	list-style-type: none;
	padding-left: 30px;
}

#navmenu {
	z-index: 99;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	margin: 0 0 0 0;
	padding: 10px 0 25px 0;
	background-color: #14151B;
}

#navmenu li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
}

#subtitle-big {
	font-size: 2em;
	margin: 0 0 0 0;
	color: #999999;
}

.centered {
	text-align: center;
	position: relative;
	top: 0;
	transform: translateY(20vh);
}

.registercentered {
	text-align: center;
	position: relative;
	top: 0;
	transform: translateY(5vh);
}

.verticalcentered {
	position: relative;
	top: 10vh;
	transform: translateY(-10vh);
}



#education {
	min-height: 100vh;
	margin: 0 0 0 0;
	background-image: url('https://thejals.com/~thejals/HTML5-TP1/img/padded-orange.png');
}

#rounded {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: url('../empty-profile.jpg') no-repeat;
}

#rounded_upload {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: url('../empty-profile.jpg') no-repeat;
}


#education {
	min-height: 100vh;
	margin: 0 0 0 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
}

#education h2 {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 3em;
}

#work {
	min-height: 100vh;
	background-color: #003242;
	background-image: url('https://thejals.com/~thejals/HTML5-TP1/img/padded-red.png');
	margin: 0 0 0 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
}

#work h2 {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 3em;
}

#contact h2 {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 3em;
}

#contact {
	min-height: 100vh;
	background-color: #003242;
	background-image: url('https://thejals.com/~thejals/HTML5-TP1/img/padded-clearblue.png');
	margin: 0 0 0 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
}

.medium {
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 30px;
	width: 50%;
	float: left;
}

.medium time {
	font-size: 1.3em;
	color: #F2C600;
	display: inline;
	padding-right: 15px;
}

.medium p {
	font-size: 1em;
	color: #707070;
	white-space: pre;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.medium dl, ul, ol {
	font-size: 1em;
	color: #707070;
	margin: 0 0 20px 0;
	padding: 0 0 0 70px;
}

.medium h3 {
	display: inline;
	padding-right: 15px;
}

.medium h4 {
	font-size: 1.3em;
	color: #F2C600;
	display: inline;
	padding-right: 15px;
}

#contact-display {
	float: right;
	width: 30%;
}

#portfolio-display {
	float: right;
	width: 30%;
}

#portfolio-display img {
	width: 100%;
}

#education-display {
	float: right;
	width: 30%;
}

#education-display img {
	width: 100%;
}

a {
	color: #7283ff;
}

input {
	width: 100%;
	clear: both;
	height: 30px;
	font-size: 17px;
 	font-family:'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 5px;
}

textarea {
	clear: both;
	width: 100%;
	min-height: 50px;
	font-size: 15px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	vertical-align: middle;
	text-align: center;
}


.styled-button-1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:36px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}

.pwdwidgetdiv
{
	width:155px;
}
.pwdfield
{
	width:150px;
}
.pwdopsdiv
{
	display: block;
	float: left;
	margin-right:6px;	
}
.pwdopsdiv a
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 
}

.pwdstrengthbar
{
	float:right;
	background:#cccccc;
	height:4px;
	margin:0;

}

.pwdstrength
{
	float:right; 
	height:20px;
	width:70px;
	margin-top:3px;

}
.pwdstrengthstr
{
    float:right;
	clear:both;
	height:14px;
	margin-top:0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 

}

.commentArea {
    font: 14px Arial;
    padding: 0 10px;
    margin-top: 20px;    
}

.bubbledLeft,.bubbledRight {
    margin-top: 20px;
    padding: 5px 9px;
    max-width: 50%;
    clear: both;
    position: relative;
}

.bubbledLeft{
    float: left;
    margin-right: auto;
    -webkit-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    -o-border-radius: 8px 8px 8px 0px;
    -ms-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
    background-color: #E5E5EA;
    color: #000000;
}

.bubbledLeft:before {
    border-bottom: 10px solid #E5E5EA;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    -webkit-border-radius: 8px 8px 0px 8px;
    -moz-border-radius: 8px 8px 0px 8px;
    -o-border-radius: 8px 8px 0px 8px;
    -ms-border-radius: 8px 8px 0px 8px;
    border-radius: 8px 8px 0px 8px;
    background-color: #0B93F6;
    color: white;
}

.bubbledRight:before {
    border-bottom: 9px solid #0B93F6;
    border-right: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    right: -8px;
    content: "";
}


